{% extends 'base.html' %}

{% block page_title %}WordGod - Analyze Mode{% endblock page_title %}

{% block content %}
    <div class="container">
        <h1 class="my-3">Analyzed Text</h1>
        <hr>
        <p><pre>{{analyzed_text}}</pre></p>
        <br>
        <hr>
        <p><strong>Char Count: </strong>{{char_count}}</p>            
        <p><strong>Word Count: </strong>{{word_count}}</p>            
    </div>

    <div class="container">
        <a class="btn btn-primary" href="/" role="button">Back</a>
    </div>
{% endblock content %}