{% extends 'base.html' %}

{% block page_title %}WordGod{% endblock page_title %}

{% block content %}
    <h1>Welcome to Word God</h1>
    <h2>Enter your text below</h2>
    <form action={% url 'analyze' %} method='get'>
        <textarea name="raw_text" id="" cols="30" rows="10" style="width: 900px; height: 255px;"></textarea><br>
        <input type="checkbox" name="removepunc" id="removepunc"></input>
        <label for="removepunc">Remove Punctuation</label>
        <input type="checkbox" name="capfirst" id="capfirst"></input>
        <label for="capfirst">Capitalize First</label>
        <input type="checkbox" name="fullcaps" id="fullcaps"></input>
        <label for="fullcaps">Capitalize All</label>
        <input type="checkbox" name="newlineremove" id="newlineremove"></input>
        <label for="newlineremove">Remove New Lines</label>
        <input type="checkbox" name="extraspace" id="extraspace"></input>
        <label for="extraspace">Remove Extra Spaces</label>

        <br>
        <button type="submit">Analyze text</button>
    </form>
{% endblock content %}