ul{
    list-style: none;
    margin: 2rem auto;
    width: 90%;
    max-width: 20rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 20px;
    padding: 1rem;
    display: flex;
    flex-flow: column wrap;
    height: 35rem;
    background-color: aliceblue;
}

li{
    margin: 1rem 0;
    text-align: center;
    border-bottom: 1px solid gray;
}

li:last-of-type,
li:nth-of-type(6){
    border-bottom: none;
}

li a{
    text-decoration: none;
    color: #cf54a6;
}

li a:hover{
    color: #f2a827;
}